@model IEnumerable<booksQuotesApp.Models.Book>

@{
    ViewBag.Title = "Books";
}

@{
    int count = 0;
}


<div class="container text-center">

    <div class="booksheadingContainer">
        <h1>Books</h1>
   </div>

    <div class="booksSearchContainer"> 
        @using (Html.BeginForm("Index", "Books", "FormMethod.Get"))

        {

            <p>
               
                
                 @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = " Search by book name..", @class= "quoteSearch" })
                <input type="submit" value="Search" />
                
                <br />
                <br />
                <br />
                <br />

                <span class="addBook"> @Html.ActionLink("Add a new Book", "Create", new { returnView = "indexView" }, new { @class = "btn btn-default" })</span>
               

            </p>

        }
    </div>


    <div class="booksContainer">
        @*display a clickable image of each item*@
        @foreach (var book in Model)
        {
            if (count % 4 == 0)
            {
                <br />
                <br />
            }
            <span class="myImgContainer">
                <a href="@Url.Action("Details", new {id = book.Id })">
                    <img class="myImg" src="@Url.Content(book.ImageURL)" />
                </a>
            </span>
            count++;
        }
    </div>
</div>
